{% extends 'flagstone/base.html' %}

{% block body_content %}

<div class="jumbotron">
  <h1><b>Adobe Transportation</b></h1>
  <h2>Event Details</h2>
</div>


  <div class="container">
    <p>{{driverassignment_detail.driver}}  driver</p>
<p>{{driverassignment_detail.van}}  van</p>
<p>{{driverassignment_detail.pudo}}  pudo</p>
<p>{{driverassignment_detail.ap_pudo}}  ap_pudo</p>
<p>{{driverassignment_detail.sp_serv}}  sp_serv</p>
<p>{{driverassignment_detail.sp_evnt}}  sp_evnt</p>
  </div>
<div class="container">
	<p><a class="btn btn-danger" href="{% url 'flagstone:driverassignment_update' pk=driverassignment_detail.pk %}">UPDATE</a></p>
</div>
{% endblock %}


