{% extends 'flagstone/base.html' %}

{% block body_content %}
<!-- <link rel="stylesheet" type="text/css" href="master.css"> -->
<div class="jumbotron"><h1><b>Adobe Transportation</b></h1><h2 class="text-danger">Van Form</h2></div>
<div class="container">


<div class="container">
    

<form method="POST">

    {% csrf_token %}
<p>{{form.van_info}} van_info</p>
<p>{{form.inspector_info}} inspector_info</p>
<p>{{form.inspection_date}} inspection_date</p>
<p>{{form.inspection_time}} inspection_time</p>
<p>{{form.inspection_note}} inspection_note</p>

<input type="submit" class="btn btn-primary" value="Submit" name=""> 
</form>


</div>
{% endblock %}

inspector
